.OverlayComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%; 
}

.OverlayComponent.component {
    z-index: 1;
}